<style>
  tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
	position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}

#tdcard {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tow-card {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #686a6e;
}

#cardtitle {
  margin-bottom: 0px;
}

.table-responsive {
  margin-top: 10px;
}

.card-body {
  padding: 10px;
}

.horizontal-line {
  padding-left: 10px;
  padding-right: 10px;
}

.hr-line-line {
  margin: 1px;
  border: 1px solid #F0F8FF;
}

.asset-row {
  font-size: 80%;
}

.job-details {
  padding-top: 10px;
  font-size: 90%;
}

.card-header {
  padding: 5px;
}

.table td {
   text-align: left;  
}

.table th {
   text-align: left;
   padding: 0px;  
}

.table {
  margin: 0px;
}

.btn-sm {
  height:90%;
  width:90%;
  font-size: 100%;
  padding: 0px;
  vertical-align: middle;
}

.btn-secondary {
  font-size: 80%;
}

.dropdown-item {
  font-size: 100%;
}

</style>

 <div class="table-responsive">
  <table class="table table-hover table-sm" data-toggle="table">
    <thead>
      <tr>
        <th data-field="order_id" data-sortable="true" scope="col">Job Number</th>
        <th data-sortable="true" scope="col">Status</th>
        <th data-sortable="true" scope="col">Customer Name</th>
        <th data-sortable="true" scope="col">Origin Location</th>
        <th data-sortable="true" scope="col">Destination Location</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < jobs.length; i++) { %>
      <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#<%= jobs[i].ordnbr %>">
        <td><%= jobs[i].ordnbr %></td>
        <td><%= jobs[i].status %></td>
        <td><%= jobs[i].customer_nm %></td>
        <td><%= jobs[i].origin_location %></td>
        <td><%= jobs[i].dest_location %></td>
        <td class="expand-button"></td>
        </tr>
          
  <tr class="hide-table-padding">
  <td colspan="6">
  <div class="collapse in col-sm head-div" id="<%= jobs[i].ordnbr %>">
    <div class="card" id="tdcard">
      <div class="card-body">
        <div class="row">
        <h5 class="card-title col align-self-center" id="cardtitle"><%= jobs[i].ordnbr %> - <%= jobs[i].customer_nm %></h5>
        <button type="button" class="btn col-1" id="edittripbutton" data-toggle="modal" data-target="#e<%= jobs[i].ordnbr %>">Edit</button>
        <button type="button" class="btn col-1" data-toggle="modal" data-target="#d<%= jobs[i].ordnbr %>">Delete</button>
      </div>

      <!-- Edit Job Modal -->
      <div class="modal fade" id="e<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="editTripModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editTripModalLabel">Edit Order Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Edit Job Form Begin -->
              <form class="edittripform">
                <h5>Order Information</h5>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label hidden for="eid"></label>
                            <input hidden type="text" class="form-control" id="eid" placeholder="Order #" value="<%= jobs[i].order_id %>">
                            <label for="eorderNumberInput">Order #</label>
                            <input type="text" class="form-control" id="eorderNumberInput" placeholder="Order #" value="<%= jobs[i].ordnbr %>" readonly>
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                          <label for="ecustomerNameInput">Customer Name</label>
                          <input type="text" class="form-control" id="ecustomerNameInput" placeholder="Customer Name" value="<%= jobs[i].customer_nm %>">
                      </div>
                  </div>
                      <div class="col-4">
                          <div class="form-group">
                              <label for="eOriginInput">Origin Location</label>
                              <input type="text" class="form-control" id="eOriginInput" placeholder="Origin" value="<%= jobs[i].origin_location %>">
                          </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="eOriginDescription">Origin Description</label>
                        <input type="text" class="form-control" id="eOriginDescription" placeholder="Origin Description" value="<%= jobs[i].origin_desc %>">
                    </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                      <label for="eDestinationInput">Destination Location</label>
                      <input type="text" class="form-control" id="eDestinationInput" placeholder="Destination Location" value="<%= jobs[i].dest_location %>">
                  </div>
              </div>
                  <div class="col-4">
                      <div class="form-group">
                          <label for="eDestinationDescription">Destination Description</label>
                          <input type="text" class="form-control" id="eDestinationDescription" placeholder="Destination" value="<%= jobs[i].dest_desc %>">
                      </div>
              </div>
          </div>
                  <div class="row">
                      <div class="col-12">
                          <div class="form-group editable">
                              <label for="eOrderNotes">Order Notes</label>
                              <input type="text" class="form-control" id="eOrderNotes" placeholder="Order Notes" value="<%= jobs[i].ord_notes %>">
                          </div>
                      </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
            <!-- End Job Form End -->
          </div>
        </div>
      </div>
      <!-- Edit Job Modal End -->

      <!-- Delete Job Modal -->
      <div class="modal fade" id="d<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="deleteTripModalLable" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete job <%= jobs[i].ordnbr %>? </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Click DELETE to delete this job, or click Close to dismiss.
              <form class="deletetripform">
                <div class="form-group">
                  <label hidden for="did"></label>
                  <input hidden type="text" class="form-control" id="did" placeholder="Order #" value="<%= jobs[i].ordnbr %>">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">DELETE THIS JOB</button>
            </div>
          </form>
          </div>
        </div>
      </div>
      <!-- Delete Job Modal End -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="horizontal-line">
        <hr class="hr-line-line">
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3"><h5>Trip Details</h5></div>
          <div class="col-6"><h5>Tow Details</h5></div>
          <div class="col-3"style="text-align:right">
            <button class="btn btn-secondary" data-toggle="modal" data-target="#na<%= jobs[i].ordnbr %>">Add Asset</button>
            
          </div>
        </div>

        <!-- Add Assets Modal Begin -->
        <div class="modal fade" id="na<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="newJobModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="NewAssetModalLabel">Add Asset to Job <%= jobs[i].ordnbr %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Add Assets Form Begin -->
                <form class="newassetform">
                  <h5>Asset Information</h5>
                  <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label hidden for="asset_ordnbr"></label>
                          <input hidden type="text" class="form-control" id="asset_ordnbr" placeholder="Order #" value="<%= jobs[i].ordnbr %>">
                          <label for="asset_type">Asset Type</label>
                          <input type="text" class="form-control" list="asset-type-list" id="asset_type"/>
                            <datalist id="asset-type-list">
                              <option value="Barge"></option>
                              <option value="Boat"></option>
                            </datalist>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                            <label for="asset_name">Asset Name</label>
                            <input type="text" class="form-control" id="asset_name" placeholder="Asset Name">
                        </div>
                    </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="vendor_name">Vendor Name</label>
                                <input type="text" class="form-control" id="vendor_name" placeholder="Vendor Name">
                            </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-4">
                      <div class="form-group">
                          <label for="tow_group">Tow Group</label>
                          <input type="text" class="form-control" id="tow_group" placeholder="Tow Group">
                      </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                        <label for="asset_start">Asset Start</label>
                        <input type="text" class="form-control datetimepicker" id="asset_start" placeholder="Start Time/Date">
                    </div>
                </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="asset_stop">Asset Stop</label>
                            <input type="text" class="form-control datetimepicker" id="asset_stop" placeholder="Stop Time/Date">
                        </div>
                </div>
            </div>
            <div class="row">
              <div class="col-4">
                  <div class="form-group">
                      <label for="asset_status">Asset Status</label>
                      <input type="text" class="form-control" list="asset-status-list" id="asset_status" placeholder="Active or Inactive">
                            <datalist id="asset-status-list">
                              <option value="Active"></option>
                              <option value="Inactive"></option>
                            </datalist>
                  </div>
              </div>
        </div>
      </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add New Asset</button>
                  </div>
              </form>

              <!-- Add Assets Form End -->

          </div>
        </div>
      </div>

      <!-- Add Assets Modal End -->
        
        
        
        <div class="row">
        <div class="col-3 job-details">
          Origin:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= jobs[i].origin_location %>
          <br>
          Destination:&nbsp;&nbsp;<%= jobs[i].dest_location %>
          <br>
          Customer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= jobs[i].customer_nm %>
          <br>
          Notes:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= jobs[i].ord_notes %>
        </div>
        
        
          <div class="col-9">
          <div class="card tow-card">
            <div class="card-header">Tow Group 1</div>
            <div class="card-body tow-col">
              <table class="table table-sm table-borderless">
                <thead>
                  <tr class="d-flex asset-row">
                    <th class="col-2">Asset</th>
                    <th class="col-2">Status</th>
                    <th class="col-2">Location</th>
                    <th class="col-2">ETA</th>
                    <th class="col-2">Created At</th>
                    <th class="col-2"></th>
                  </tr>
                </thead>
                <tbody class="asset-tbody">
            <% for (let j = 0; j < assets.length; j++) { %>
              <% if (assets[j].ordnbr === jobs[i].ordnbr && assets[j].tow_group === 1 && assets[j].asset_status === "Active") { %>
                  <tr class="d-flex asset-row">
                    <td class="col-2">
                  <%= assets[j].asset_name %>
                    </td>
                  <% for (let k = 0; k < logs.length; k++) { %>
                    <% if (assets[j].ordnbr === logs[k].ordnbr && assets[j].asset_name === logs[k].asset_name) { %>
                      <td class="col-2">
                        <%= logs[k].status %>
                      </td>
                      <td class="col-2">
                        <%= logs[k].location %>
                      </td>
                      <td class="col-2">
                        <%= moment(logs[k].dest_eta).format('M/D/YY @ kk:mm') %>
                      </td>
                      <td class="col-2">
                        <%= moment(logs[k].created_dttm).format('M/D/YY @ kk:mm') %>
                      </td>
                      <td class="col-2">
                        <div class="dropdown">
                          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            more
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" data-toggle="modal" data-target="#nae<%= assets[j].asset_id %>">edit asset</a>
                            <a class="dropdown-item" href="#">edit logs</a>
                            <a class="dropdown-item" href="#">go to log view</a>
                            <a class="dropdown-item" href="#">delete asset</a>
                          </div>
        <!-- Edit Assets Modal Begin -->
        <div class="modal fade" id="nae<%= assets[j].asset_id %>" tabindex="-1" role="dialog" aria-labelledby="newJobModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="NewAssetModalLabel">Add Asset to Job <%= jobs[i].ordnbr %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Edit Assets Form Begin -->
                <form class="editassetform">
                  <h5>Asset Information</h5>
                  <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label hidden for="asset_ordnbr"></label>
                          <input hidden type="text" class="form-control" id="asset_ordnbr" placeholder="Order #" value="<%= assets[j].asset_id %>">
                          <label for="asset_type">Asset Type</label>
                          <input type="text" class="form-control" list="asset-type-list" id="asset_type" value="<%= assets[j].asset_type %>">
                            <datalist id="asset-type-list">
                              <option value="Barge"></option>
                              <option value="Boat"></option>
                            </datalist>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                            <label for="asset_name">Asset Name</label>
                            <input type="text" class="form-control" id="asset_name" value="<%= assets[j].asset_name %>">
                        </div>
                    </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="vendor_name">Vendor Name</label>
                                <input type="text" class="form-control" id="vendor_name" value="<%= assets[j].vendor_name %>">
                            </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-4">
                      <div class="form-group">
                          <label for="tow_group">Tow Group</label>
                          <input type="text" class="form-control" id="tow_group" value="<%= assets[j].tow_group %>">
                      </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                        <label for="asset_start">Asset Start</label>
                        <input type="text" class="form-control datetimepicker" id="asset_start" value="<%= assets[j].asset_start %>">
                    </div>
                </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="asset_stop">Asset Stop</label>
                            <input type="text" class="form-control datetimepicker" id="asset_stop" value="<%= assets[j].asset_stop %>">
                        </div>
                </div>
            </div>
            <div class="row">
              <div class="col-4">
                  <div class="form-group">
                      <label for="asset_status">Asset Status</label>
                      <input type="text" class="form-control" list="asset-status-list" id="asset_status" value="<%= assets[j].asset_status %>">
                            <datalist id="asset-status-list">
                              <option value="Active"></option>
                              <option value="Inactive"></option>
                            </datalist>
                  </div>
              </div>
        </div>
      </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add New Asset</button>
                  </div>
              </form>

              <!-- Edit Assets Form End -->

          </div>
        </div>
      </div>

      <!-- Edit Assets Modal End -->
                        </div>
                      </td>
                      <% } %>
                      <% } %>
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                  </table>
             </div>
            </div>
            <div class="card tow-card">
              <div class="card-header">Tow Group 2</div>
            <div class="card-body tow-col">
              <table class="table table-sm table-borderless">
                <thead>
                  <tr class="d-flex asset-row">
                    <th class="col-2">Asset</th>
                    <th class="col-2">Status</th>
                    <th class="col-2">Location</th>
                    <th class="col-2">ETA</th>
                    <th class="col-2">Created At</th>
                    <th class="col-2"></th>
                  </tr>
                </thead>
                <tbody class="asset-tbody">
            <% for (let j = 0; j < assets.length; j++) { %>
              <% if (assets[j].ordnbr === jobs[i].ordnbr && assets[j].tow_group === 2 && assets[j].asset_status === "Active") { %>
                  <tr class="d-flex asset-row">
                    <td class="col-2">
                  <%= assets[j].asset_name %>
                    </td>
                  <% for (let k = 0; k < logs.length; k++) { %>
                    <% if (assets[j].ordnbr === logs[k].ordnbr && assets[j].asset_name === logs[k].asset_name) { %>
                      <td class="col-2">
                        <%= logs[k].status %>
                      </td>
                      <td class="col-2">
                        <%= logs[k].location %>
                      </td>
                      <td class="col-2">
                        <%= moment(logs[k].dest_eta).format('M/D/YY @ kk:mm') %>
                      </td>
                      <td class="col-2">
                        <%= moment(logs[k].created_dttm).format('M/D/YY @ kk:mm') %>
                      </td>
                      <td class="col-2">
                        <div class="dropdown">
                          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            more
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" data-toggle="modal" data-target="#nae2<%= assets[j].asset_id %>">edit asset</a>
                            <a class="dropdown-item" href="#">edit logs</a>
                            <a class="dropdown-item" href="#">go to log view</a>
                            <a class="dropdown-item" href="#">delete asset</a>
                          </div>
                          <!-- Edit Assets Modal Begin -->
        <div class="modal fade" id="nae2<%= assets[j].asset_id %>" tabindex="-1" role="dialog" aria-labelledby="newJobModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="NewAssetModalLabel">Add Asset to Job <%= jobs[i].ordnbr %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Edit Assets Form Begin -->
                <form class="editassetform">
                  <h5>Asset Information</h5>
                  <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label hidden for="asset_ordnbr"></label>
                          <input hidden type="text" class="form-control" id="asset_ordnbr" placeholder="Order #" value="<%= assets[j].asset_id %>">
                          <label for="asset_type">Asset Type</label>
                          <input type="text" class="form-control" list="asset-type-list" id="asset_type" value="<%= assets[j].asset_type %>">
                            <datalist id="asset-type-list">
                              <option value="Barge"></option>
                              <option value="Boat"></option>
                            </datalist>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                            <label for="asset_name">Asset Name</label>
                            <input type="text" class="form-control" id="asset_name" value="<%= assets[j].asset_name %>">
                        </div>
                    </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="vendor_name">Vendor Name</label>
                                <input type="text" class="form-control" id="vendor_name" value="<%= assets[j].vendor_name %>">
                            </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-4">
                      <div class="form-group">
                          <label for="tow_group">Tow Group</label>
                          <input type="text" class="form-control" id="tow_group" value="<%= assets[j].tow_group %>">
                      </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                        <label for="asset_start">Asset Start</label>
                        <input type="text" class="form-control datetimepicker" id="asset_start" value="<%= assets[j].asset_start %>">
                    </div>
                </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="asset_stop">Asset Stop</label>
                            <input type="text" class="form-control datetimepicker" id="asset_stop" value="<%= assets[j].asset_stop %>">
                        </div>
                </div>
            </div>
            <div class="row">
              <div class="col-4">
                  <div class="form-group">
                      <label for="asset_status">Asset Status</label>
                      <input type="text" class="form-control" list="asset-status-list" id="asset_status" value="<%= assets[j].asset_status %>">
                            <datalist id="asset-status-list">
                              <option value="Active"></option>
                              <option value="Inactive"></option>
                            </datalist>
                  </div>
              </div>
        </div>
      </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add New Asset</button>
                  </div>
              </form>

              <!-- Edit Assets Form End -->

          </div>
        </div>
      </div>

      <!-- Edit Assets Modal End -->
                        </div>
                      </td>
                      <% } %>
                      <% } %>
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                  </table>
             </div>
              </div>
          </div>
      </div>
      </div>
  </div>
  </div></td>
  </tr>
  <% } %>
      </tbody>
    </table>
  </div>
  