<style>
  tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
	position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}

#tdcard {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tow-card {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #686a6e;
}

#cardtitle {
  margin-bottom: 0px;
}

.table-responsive {
  margin-top: 10px;
}

.card-body {
  padding: 10px;
}

.horizontal-line {
  padding-left: 10px;
  padding-right: 10px;
}

.hr-line-line {
  margin: 1px;
  border: 1px solid #F0F8FF;
}

.asset-row {
  font-size: 80%;
}

.job-details {
  padding-top: 10px;
  font-size: 100%;
}


/* .table td {
   text-align: left;  
}

.table th {
   text-align: left;
   padding: 0px;  
} */

.table>tbody>tr>td {
  border-top: none;
}


table>thead>tr>th {
  border-top: none;
}

.table {
  margin: 0px;
}

.btn-sm {
  height:90%;
  width:90%;
  font-size: 100%;
  padding: 0px;
  vertical-align: middle;
}

.btn-secondary {
  font-size: 80%;
}

.dropdown-item {
  font-size: 100%;
}

.job-notes {
  white-space: pre-wrap;
}

td {
  font-size: 90%;
}

.form-group {
  font-size: 120%;
}

.job-note-headers {
  text-align: left;
  text-decoration: underline;
}

.right-tabs .nav {
    float: right;
}

</style>
<script type="text/javascript">
  window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);
  </script>
<br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="home" aria-selected="true">Upcoming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#active" role="tab" aria-controls="profile" aria-selected="false">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="contact" aria-selected="false">Completed</a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#archived" role="tab" aria-controls="contact" aria-selected="false" style="padding:0px">
      <img src="../trash.png" width = "30" height = "30">
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <!-- Upcoming Tab Begin -->
  <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
    <div class="table">
      <table class="table table-hover table-sm" data-toggle="table">
        <thead>
          <tr class="row m-0">
            <th data-field="order_id" data-sortable="true" scope="col" class="d-inline-block col-1">Job</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2 ">Customer</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">Origin</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">Destination</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">PM Assigned</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-1">Status</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">Est. Start</th>
            <!-- <th scope="col" class="d-inline-block col-1">#</th> -->
          </tr>
        </thead>
        <% for (let i = 0; i < jobs.length; i++) { %>
          <% if (jobs[i].status  === "Upcoming") { %>
        <tbody>
          <tr class="accordion-toggle collapsed row m-0" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#<%= jobs[i].ordnbr %>">
            <td class="d-inline-block col-1"><%= jobs[i].ordnbr %></td>
            <td class="d-inline-block col-2"><%= jobs[i].customer %></td>
            <td class="d-inline-block col-2"><%= jobs[i].origin %></td>
            <td class="d-inline-block col-2"><%= jobs[i].destination %></td>
            <td class="d-inline-block col-2"><%= jobs[i].pm_assigned %></td>
            <td class="d-inline-block col-1"><%= jobs[i].status %></td>
            <td class="d-inline-block col-2"><%= moment(jobs[i].est_start_date).format('M/D/YY') %></td>
            <!-- <td class="expand-button" class="d-inline-block col-1"></td> -->
            </tr>
              
      <tr class="hide-table-padding">
      <td colspan="12">
      <div class="collapse in col-sm head-div" id="<%= jobs[i].ordnbr %>">
        <div class="card" id="tdcard">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title col align-self-center" id="cardtitle"><%= jobs[i].ordnbr %> - <%= jobs[i].customer %></h5>
            <button type="button" class="btn col-1" id="edittripbutton" data-toggle="modal" data-target="#e<%= jobs[i].ordnbr %>">Edit</button>
            <button type="button" class="btn col-1" data-toggle="modal" data-target="#d<%= jobs[i].ordnbr %>">Delete</button>
          </div>
    
          <!-- Edit Job Modal -->
          <div class="modal fade" id="e<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="editTripModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editTripModalLabel">Edit Trip Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Edit Job Form Begin -->
                  <form class="edittripform">
                    <h5>Job Information</h5>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label hidden for="eid"></label>
                                <input hidden type="text" class="form-control" id="eid" placeholder="Order #" value="<%= jobs[i].order_id %>">
                                <label for="eJobNumberInput">Order #</label>
                                <input type="text" class="form-control" id="eJobNumberInput" placeholder="Order #" value="<%= jobs[i].ordnbr %>" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="ejobStatus">Status</label>
                            <select class="form-control" id="ejobStatus" value="<%= jobs[i].status %>">
                              <option>Upcoming</option>
                              <option>Active</option>
                              <option>Completed</option>
                              <option>Archived</option>
                            </select>
                          </div>
                      </div>
                          <div class="col-4">
                              <div class="form-group">
                                  <label for="epmAssigned">PM Assigned</label>
                                  <input type="text" class="form-control" id="epmAssigned" placeholder="Origin" value="<%= jobs[i].pm_assigned %>">
                              </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="eoriginInput">Origin</label>
                            <input type="text" class="form-control" id="eoriginInput" placeholder="Origin" value="<%= jobs[i].origin %>">
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                          <label for="edestinationInput">Destination</label>
                          <input type="text" class="form-control" id="edestinationInput" placeholder="Destination" value="<%= jobs[i].destination %>">
                      </div>
                  </div>
                      <div class="col-4">
                          <div class="form-group">
                              <label for="eestStartDate">Estimated Start Date</label>
                              <input type="date" class="form-control" id="eestStartDate" placeholder="Destination" value="<%= jobs[i].est_start_date %>">
                          </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="eoriginDesc">Origin Desc.</label>
                        <input type="text" class="form-control" id="eoriginDesc" placeholder="Origin Desc." value="<%= jobs[i].origin_desc %>">
                    </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                      <label for="edestDesc">Destination Desc.</label>
                      <input type="text" class="form-control" id="edestDesc" placeholder="Destination Desc." value="<%= jobs[i].destination_desc %>">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label for="ejobNotes">Job Notes</label>
                      <textarea class="form-control" id="ejobNotes" rows="2" placeholder="Enter any general job notes here."><%= jobs[i].ord_notes %></textarea>
                  </div>
              </div>
        </div>
        <h5>Customer Information</h5>
          <div class="row">
              <div class="col-3">
                  <div class="form-group">
                      <label for="ecustomer">Customer</label>
                      <input type="text" class="form-control" id="ecustomer" placeholder="Enter Customer Company" value="<%= jobs[i].customer %>">
                  </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                    <label for="ecustomer_nm">Customer Contact</label>
                    <input type="text" class="form-control" id="ecustomer_nm" placeholder="Enter Customer Contact Name" value="<%= jobs[i].customer_nm %>">
                </div>
            </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="ecustomer_phone">Customer Phone</label>
                        <input type="text" class="form-control" id="ecustomer_phone" placeholder="Enter Customer Phone" value="<%= jobs[i].customer_phone %>">
                    </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                  <label for="ecustomer_email">Customer Email</label>
                  <input type="text" class="form-control" id="ecustomer_email" placeholder="Enter Customer Email" value="<%= jobs[i].customer_email %>">
              </div>
      </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label for="ecustomer_notes">Customer Notes</label>
                  <textarea class="form-control" id="ecustomer_notes" rows="2" placeholder="Enter any customer notes here."><%= jobs[i].customer_notes %></textarea>
              </div>
          </div>
    </div>
    <h5>Vendor Information</h5>
          <div class="row">
              <div class="col-3">
                  <div class="form-group">
                      <label for="evendor">Vendor</label>
                      <input type="text" class="form-control" id="evendor" placeholder="Enter Vendor Company" value="<%= jobs[i].vendor %>">
                  </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                    <label for="evendor_nm">Vendor Contact</label>
                    <input type="text" class="form-control" id="evendor_nm" placeholder="Enter Vendor Contact Name" value="<%= jobs[i].vendor_nm %>">
                </div>
            </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="evendor_phone">Vendor Phone</label>
                        <input type="text" class="form-control" id="evendor_phone" placeholder="Enter Vendor Phone" value="<%= jobs[i].vendor_phone %>">
                    </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                  <label for="evendor_email">Vendor Email</label>
                  <input type="text" class="form-control" id="evendor_email" placeholder="Enter Vendor Email" value="<%= jobs[i].vendor_email %>">
              </div>
      </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label for="evendor_notes">Vendor Notes</label>
                  <textarea class="form-control" id="evendor_notes" rows="2" placeholder="Enter any vendor notes here."><%= jobs[i].vendor_notes %></textarea>
              </div>
          </div>
    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
                <!-- End Job Form End -->
              </div>
            </div>
          </div>
          <!-- Edit Job Modal End -->
    
          <!-- Delete Job Modal -->
          <div class="modal fade" id="d<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="deleteTripModalLable" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete job <%= jobs[i].ordnbr %>? </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Click DELETE to delete this job, or click Close to dismiss.
                  <form class="deletetripform">
                    <div class="form-group">
                      <label hidden for="did"></label>
                      <input hidden type="text" class="form-control" id="did" placeholder="Order #" value="<%= jobs[i].ordnbr %>">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">DELETE THIS JOB</button>
                </div>
              </form>
              </div>
            </div>
          </div>
          <!-- Delete Job Modal End -->
    
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="horizontal-line">
            <hr class="hr-line-line">
          </div>
          <div class="modal-body">
            <div class="row">
            <div class="card col-8 border-0" style="font-size:medium">
              <h6 class="card-header border">Trip Details</h6>
              <div class="card-body border">
            <table class="table table-borderless">
                <tbody>
                <tr class="d-flex">
                  <td class="col-3">Origin:</td>
                  <td class="col-6"><%= jobs[i].origin %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Origin Desc.:</td>
                  <td class="col-6"><%= jobs[i].origin_desc %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Destination:</td>
                  <td class="col-6"><%= jobs[i].destination %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Destination Description:</td>
                  <td class="col-6"><%= jobs[i].destination_desc %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Start Date:</td>
                  <td class="col-6"><%= moment(jobs[i].est_start_date).format('M/D/YY') %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">PM Assigned:</td>
                  <td class="col-6"><%= jobs[i].pm_assigned %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Status:</td>
                  <td class="col-6"><%= jobs[i].status %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Trip Notes:</td>
                  <td class="col-9" style="white-space: pre-wrap"><%= jobs[i].ord_notes %></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="card col-12 border-0" style="padding-right:15px">
            <h6 class="job-note-headers card-header border">Customer Details</h6>
            <div class="card-body border">
          <table class="table table-borderless">
              <tbody>
              <tr class="d-flex">
                <td class="col-4">Customer:</td>
                <td class="col-6"><%= jobs[i].customer %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Customer Contact:</td>
                <td class="col-6"><%= jobs[i].customer_nm %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Customer Phone:</td>
                <td class="col-6"><%= jobs[i].customer_phone %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Customer Email:</td>
                <td class="col-6"><%= jobs[i].customer_email %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Notes:</td>
                <td class="col-6" style="white-space: pre-wrap"><%= jobs[i].customer_notes %></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div>
        <div class="row" style="line-height:5px"><br></div>
        <div class="row">
          <div class="card col-12 border-0" style="padding-right:15px">
        <h6 class="job-note-headers card-header border">Vendor Details</h6>
        <div class="card-body border">
      <table class="table table-borderless">
          <tbody>
          <tr class="d-flex">
            <td class="col-4">Vendor:</td>
            <td class="col-6"><%= jobs[i].vendor %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Vendor Contact:</td>
            <td class="col-6"><%= jobs[i].vendor_nm %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Vendor Phone:</td>
            <td class="col-6"><%= jobs[i].vendor_phone %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Vendor Email:</td>
            <td class="col-6"><%= jobs[i].vendor_email %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Notes:</td>
            <td class="col-6" style="white-space: pre-wrap"><%= jobs[i].vendor_notes %></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
      </div>
        </div>
            </div>
          </div>
      </div>
    </td>
    </tr>
        </tbody>
    <% } %>
      <% } %>
        </table>
      </div>
  </div>
  <!-- Upcoming Tab End -->
  <!-- Active Tab Begin -->
  <div class="tab-pane fade" id="active" role="tabpanel" aria-labelledby="active-tab">
    <div class="table">
      <table class="table table-hover table-sm" data-toggle="table">
        <thead>
          <tr class="row m-0">
            <th data-field="order_id" data-sortable="true" scope="col" class="d-inline-block col-1">Job</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2 ">Customer</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">Origin</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">Destination</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">PM Assigned</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-1">Status</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">Est. Start</th>
            <!-- <th scope="col" class="d-inline-block col-1">#</th> -->
          </tr>
        </thead>
        <% for (let i = 0; i < jobs.length; i++) { %>
          <% if (jobs[i].status  === "Active") { %>
        <tbody>
          <tr class="accordion-toggle collapsed row m-0" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#<%= jobs[i].ordnbr %>">
            <td class="d-inline-block col-1"><%= jobs[i].ordnbr %></td>
            <td class="d-inline-block col-2"><%= jobs[i].customer %></td>
            <td class="d-inline-block col-2"><%= jobs[i].origin %></td>
            <td class="d-inline-block col-2"><%= jobs[i].destination %></td>
            <td class="d-inline-block col-2"><%= jobs[i].pm_assigned %></td>
            <td class="d-inline-block col-1"><%= jobs[i].status %></td>
            <td class="d-inline-block col-2"><%= moment(jobs[i].est_start_date).format('M/D/YY') %></td>
            <!-- <td class="expand-button" class="d-inline-block col-1"></td> -->
            </tr>
              
      <tr class="hide-table-padding">
      <td colspan="12">
      <div class="collapse in col-sm head-div" id="<%= jobs[i].ordnbr %>">
        <div class="card" id="tdcard">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title col align-self-center" id="cardtitle"><%= jobs[i].ordnbr %> - <%= jobs[i].customer %></h5>
            <button type="button" class="btn col-1" id="edittripbutton" data-toggle="modal" data-target="#e<%= jobs[i].ordnbr %>">Edit</button>
            <button type="button" class="btn col-1" data-toggle="modal" data-target="#d<%= jobs[i].ordnbr %>">Delete</button>
          </div>
    
          <!-- Edit Job Modal -->
          <div class="modal fade" id="e<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="editTripModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editTripModalLabel">Edit Trip Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Edit Job Form Begin -->
                  <form class="edittripform">
                    <h5>Job Information</h5>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label hidden for="eid"></label>
                                <input hidden type="text" class="form-control" id="eid" placeholder="Order #" value="<%= jobs[i].order_id %>">
                                <label for="eJobNumberInput">Order #</label>
                                <input type="text" class="form-control" id="eJobNumberInput" placeholder="Order #" value="<%= jobs[i].ordnbr %>" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="ejobStatus">Status</label>
                            <select class="form-control" id="ejobStatus" value="<%= jobs[i].status %>">
                              <option>Active</option>
                              <option>Completed</option>
                              <option>Upcoming</option>
                              <option>Archived</option>
                            </select>
                          </div>
                      </div>
                          <div class="col-4">
                              <div class="form-group">
                                  <label for="epmAssigned">PM Assigned</label>
                                  <input type="text" class="form-control" id="epmAssigned" placeholder="Origin" value="<%= jobs[i].pm_assigned %>">
                              </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="eoriginInput">Origin</label>
                            <input type="text" class="form-control" id="eoriginInput" placeholder="Origin" value="<%= jobs[i].origin %>">
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                          <label for="edestinationInput">Destination</label>
                          <input type="text" class="form-control" id="edestinationInput" placeholder="Destination" value="<%= jobs[i].destination %>">
                      </div>
                  </div>
                      <div class="col-4">
                          <div class="form-group">
                              <label for="eestStartDate">Estimated Start Date</label>
                              <input type="date" class="form-control" id="eestStartDate" placeholder="Destination" value="<%= jobs[i].est_start_date %>">
                          </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="eoriginDesc">Origin Desc.</label>
                        <input type="text" class="form-control" id="eoriginDesc" placeholder="Origin Desc." value="<%= jobs[i].origin_desc %>">
                    </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                      <label for="edestDesc">Destination Desc.</label>
                      <input type="text" class="form-control" id="edestDesc" placeholder="Destination Desc." value="<%= jobs[i].destination_desc %>">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label for="ejobNotes">Job Notes</label>
                      <textarea class="form-control" id="ejobNotes" rows="2" placeholder="Enter any general job notes here."><%= jobs[i].ord_notes %></textarea>
                  </div>
              </div>
        </div>
        <h5>Customer Information</h5>
          <div class="row">
              <div class="col-3">
                  <div class="form-group">
                      <label for="ecustomer">Customer</label>
                      <input type="text" class="form-control" id="ecustomer" placeholder="Enter Customer Company" value="<%= jobs[i].customer %>">
                  </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                    <label for="ecustomer_nm">Customer Contact</label>
                    <input type="text" class="form-control" id="ecustomer_nm" placeholder="Enter Customer Contact Name" value="<%= jobs[i].customer_nm %>">
                </div>
            </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="ecustomer_phone">Customer Phone</label>
                        <input type="text" class="form-control" id="ecustomer_phone" placeholder="Enter Customer Phone" value="<%= jobs[i].customer_phone %>">
                    </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                  <label for="ecustomer_email">Customer Email</label>
                  <input type="text" class="form-control" id="ecustomer_email" placeholder="Enter Customer Email" value="<%= jobs[i].customer_email %>">
              </div>
      </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label for="ecustomer_notes">Customer Notes</label>
                  <textarea class="form-control" id="ecustomer_notes" rows="2" placeholder="Enter any customer notes here."><%= jobs[i].customer_notes %></textarea>
              </div>
          </div>
    </div>
    <h5>Vendor Information</h5>
          <div class="row">
              <div class="col-3">
                  <div class="form-group">
                      <label for="evendor">Vendor</label>
                      <input type="text" class="form-control" id="evendor" placeholder="Enter Vendor Company" value="<%= jobs[i].vendor %>">
                  </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                    <label for="evendor_nm">Vendor Contact</label>
                    <input type="text" class="form-control" id="evendor_nm" placeholder="Enter Vendor Contact Name" value="<%= jobs[i].vendor_nm %>">
                </div>
            </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="evendor_phone">Vendor Phone</label>
                        <input type="text" class="form-control" id="evendor_phone" placeholder="Enter Vendor Phone" value="<%= jobs[i].vendor_phone %>">
                    </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                  <label for="evendor_email">Vendor Email</label>
                  <input type="text" class="form-control" id="evendor_email" placeholder="Enter Vendor Email" value="<%= jobs[i].vendor_email %>">
              </div>
      </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label for="evendor_notes">Vendor Notes</label>
                  <textarea class="form-control" id="evendor_notes" rows="2" placeholder="Enter any vendor notes here."><%= jobs[i].vendor_notes %></textarea>
              </div>
          </div>
    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
                <!-- End Job Form End -->
              </div>
            </div>
          </div>
          <!-- Edit Job Modal End -->
    
          <!-- Delete Job Modal -->
          <div class="modal fade" id="d<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="deleteTripModalLable" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete job <%= jobs[i].ordnbr %>? </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Click DELETE to delete this job, or click Close to dismiss.
                  <form class="deletetripform">
                    <div class="form-group">
                      <label hidden for="did"></label>
                      <input hidden type="text" class="form-control" id="did" placeholder="Order #" value="<%= jobs[i].ordnbr %>">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">DELETE THIS JOB</button>
                </div>
              </form>
              </div>
            </div>
          </div>
          <!-- Delete Job Modal End -->
    
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="horizontal-line">
            <hr class="hr-line-line">
          </div>
          <div class="modal-body">
            <div class="row">
            <div class="card col-8 border-0" style="font-size:medium">
              <h6 class="card-header border">Trip Details</h6>
              <div class="card-body border">
            <table class="table table-borderless">
                <tbody>
                <tr class="d-flex">
                  <td class="col-3">Origin:</td>
                  <td class="col-6"><%= jobs[i].origin %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Origin Desc.:</td>
                  <td class="col-6"><%= jobs[i].origin_desc %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Destination:</td>
                  <td class="col-6"><%= jobs[i].destination %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Destination Description:</td>
                  <td class="col-6"><%= jobs[i].destination_desc %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Start Date:</td>
                  <td class="col-6"><%= moment(jobs[i].est_start_date).format('M/D/YY') %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">PM Assigned:</td>
                  <td class="col-6"><%= jobs[i].pm_assigned %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Status:</td>
                  <td class="col-6"><%= jobs[i].status %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Trip Notes:</td>
                  <td class="col-9" style="white-space: pre-wrap"><%= jobs[i].ord_notes %></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="card col-12 border-0" style="padding-right:15px">
            <h6 class="job-note-headers card-header border">Customer Details</h6>
            <div class="card-body border">
          <table class="table table-borderless">
              <tbody>
              <tr class="d-flex">
                <td class="col-4">Customer:</td>
                <td class="col-6"><%= jobs[i].customer %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Customer Contact:</td>
                <td class="col-6"><%= jobs[i].customer_nm %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Customer Phone:</td>
                <td class="col-6"><%= jobs[i].customer_phone %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Customer Email:</td>
                <td class="col-6"><%= jobs[i].customer_email %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Notes:</td>
                <td class="col-6" style="white-space: pre-wrap"><%= jobs[i].customer_notes %></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div>
        <div class="row" style="line-height:5px"><br></div>
        <div class="row">
          <div class="card col-12 border-0" style="padding-right:15px">
        <h6 class="job-note-headers card-header border">Vendor Details</h6>
        <div class="card-body border">
      <table class="table table-borderless">
          <tbody>
          <tr class="d-flex">
            <td class="col-4">Vendor:</td>
            <td class="col-6"><%= jobs[i].vendor %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Vendor Contact:</td>
            <td class="col-6"><%= jobs[i].vendor_nm %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Vendor Phone:</td>
            <td class="col-6"><%= jobs[i].vendor_phone %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Vendor Email:</td>
            <td class="col-6"><%= jobs[i].vendor_email %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Notes:</td>
            <td class="col-6" style="white-space: pre-wrap"><%= jobs[i].vendor_notes %></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
      </div>
        </div>
            </div>
          </div>
      </div>
    </td>
    </tr>
        </tbody>
    <% } %>
      <% } %>
        </table>
      </div>
  </div>
    <!-- Active Tab Begin -->
      <!-- Completed Tab Begin -->
      <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
        <div class="table">
          <table class="table table-hover table-sm" data-toggle="table">
            <thead>
              <tr class="row m-0">
                <th data-field="order_id" data-sortable="true" scope="col" class="d-inline-block col-1">Job</th>
                <th data-sortable="true" scope="col" class="d-inline-block col-2 ">Customer</th>
                <th data-sortable="true" scope="col" class="d-inline-block col-2">Origin</th>
                <th data-sortable="true" scope="col" class="d-inline-block col-2">Destination</th>
                <th data-sortable="true" scope="col" class="d-inline-block col-2">PM Assigned</th>
                <th data-sortable="true" scope="col" class="d-inline-block col-1">Status</th>
                <th data-sortable="true" scope="col" class="d-inline-block col-2">Est. Start</th>
                <!-- <th scope="col" class="d-inline-block col-1">#</th> -->
              </tr>
            </thead>
            <% for (let i = 0; i < jobs.length; i++) { %>
              <% if (jobs[i].status  === "Completed") { %>
            <tbody>
              <tr class="accordion-toggle collapsed row m-0" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#<%= jobs[i].ordnbr %>">
                <td class="d-inline-block col-1"><%= jobs[i].ordnbr %></td>
                <td class="d-inline-block col-2"><%= jobs[i].customer %></td>
                <td class="d-inline-block col-2"><%= jobs[i].origin %></td>
                <td class="d-inline-block col-2"><%= jobs[i].destination %></td>
                <td class="d-inline-block col-2"><%= jobs[i].pm_assigned %></td>
                <td class="d-inline-block col-1"><%= jobs[i].status %></td>
                <td class="d-inline-block col-2"><%= moment(jobs[i].est_start_date).format('M/D/YY') %></td>
                <!-- <td class="expand-button" class="d-inline-block col-1"></td> -->
                </tr>
                  
          <tr class="hide-table-padding">
          <td colspan="12">
          <div class="collapse in col-sm head-div" id="<%= jobs[i].ordnbr %>">
            <div class="card" id="tdcard">
              <div class="card-body">
                <div class="row">
                <h5 class="card-title col align-self-center" id="cardtitle"><%= jobs[i].ordnbr %> - <%= jobs[i].customer %></h5>
                <button type="button" class="btn col-1" id="edittripbutton" data-toggle="modal" data-target="#e<%= jobs[i].ordnbr %>">Edit</button>
                <button type="button" class="btn col-1" data-toggle="modal" data-target="#d<%= jobs[i].ordnbr %>">Delete</button>
              </div>
        
              <!-- Edit Job Modal -->
              <div class="modal fade" id="e<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="editTripModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editTripModalLabel">Edit Trip Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- Edit Job Form Begin -->
                      <form class="edittripform">
                        <h5>Job Information</h5>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label hidden for="eid"></label>
                                    <input hidden type="text" class="form-control" id="eid" placeholder="Order #" value="<%= jobs[i].order_id %>">
                                    <label for="eJobNumberInput">Order #</label>
                                    <input type="text" class="form-control" id="eJobNumberInput" placeholder="Order #" value="<%= jobs[i].ordnbr %>" readonly>
                                </div>
                            </div>
                            <div class="col-4">
                              <div class="form-group">
                                <label for="ejobStatus">Status</label>
                                <select class="form-control" id="ejobStatus" value="<%= jobs[i].status %>">
                                  <option>Completed</option>
                                  <option>Upcoming</option>
                                  <option>Active</option>
                                  <option>Archived</option>
                                </select>
                              </div>
                          </div>
                              <div class="col-4">
                                  <div class="form-group">
                                      <label for="epmAssigned">PM Assigned</label>
                                      <input type="text" class="form-control" id="epmAssigned" placeholder="Origin" value="<%= jobs[i].pm_assigned %>">
                                  </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="eoriginInput">Origin</label>
                                <input type="text" class="form-control" id="eoriginInput" placeholder="Origin" value="<%= jobs[i].origin %>">
                            </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                              <label for="edestinationInput">Destination</label>
                              <input type="text" class="form-control" id="edestinationInput" placeholder="Destination" value="<%= jobs[i].destination %>">
                          </div>
                      </div>
                          <div class="col-4">
                              <div class="form-group">
                                  <label for="eestStartDate">Estimated Start Date</label>
                                  <input type="date" class="form-control" id="eestStartDate" placeholder="Destination" value="<%= jobs[i].est_start_date %>">
                              </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="eoriginDesc">Origin Desc.</label>
                            <input type="text" class="form-control" id="eoriginDesc" placeholder="Origin Desc." value="<%= jobs[i].origin_desc %>">
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                          <label for="edestDesc">Destination Desc.</label>
                          <input type="text" class="form-control" id="edestDesc" placeholder="Destination Desc." value="<%= jobs[i].destination_desc %>">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label for="ejobNotes">Job Notes</label>
                          <textarea class="form-control" id="ejobNotes" rows="2" placeholder="Enter any general job notes here."><%= jobs[i].ord_notes %></textarea>
                      </div>
                  </div>
            </div>
            <h5>Customer Information</h5>
              <div class="row">
                  <div class="col-3">
                      <div class="form-group">
                          <label for="ecustomer">Customer</label>
                          <input type="text" class="form-control" id="ecustomer" placeholder="Enter Customer Company" value="<%= jobs[i].customer %>">
                      </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                        <label for="ecustomer_nm">Customer Contact</label>
                        <input type="text" class="form-control" id="ecustomer_nm" placeholder="Enter Customer Contact Name" value="<%= jobs[i].customer_nm %>">
                    </div>
                </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="ecustomer_phone">Customer Phone</label>
                            <input type="text" class="form-control" id="ecustomer_phone" placeholder="Enter Customer Phone" value="<%= jobs[i].customer_phone %>">
                        </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                      <label for="ecustomer_email">Customer Email</label>
                      <input type="text" class="form-control" id="ecustomer_email" placeholder="Enter Customer Email" value="<%= jobs[i].customer_email %>">
                  </div>
          </div>
            </div>
            <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label for="ecustomer_notes">Customer Notes</label>
                      <textarea class="form-control" id="ecustomer_notes" rows="2" placeholder="Enter any customer notes here."><%= jobs[i].customer_notes %></textarea>
                  </div>
              </div>
        </div>
        <h5>Vendor Information</h5>
              <div class="row">
                  <div class="col-3">
                      <div class="form-group">
                          <label for="evendor">Vendor</label>
                          <input type="text" class="form-control" id="evendor" placeholder="Enter Vendor Company" value="<%= jobs[i].vendor %>">
                      </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                        <label for="evendor_nm">Vendor Contact</label>
                        <input type="text" class="form-control" id="evendor_nm" placeholder="Enter Vendor Contact Name" value="<%= jobs[i].vendor_nm %>">
                    </div>
                </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="evendor_phone">Vendor Phone</label>
                            <input type="text" class="form-control" id="evendor_phone" placeholder="Enter Vendor Phone" value="<%= jobs[i].vendor_phone %>">
                        </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                      <label for="evendor_email">Vendor Email</label>
                      <input type="text" class="form-control" id="evendor_email" placeholder="Enter Vendor Email" value="<%= jobs[i].vendor_email %>">
                  </div>
          </div>
            </div>
            <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label for="evendor_notes">Vendor Notes</label>
                      <textarea class="form-control" id="evendor_notes" rows="2" placeholder="Enter any vendor notes here."><%= jobs[i].vendor_notes %></textarea>
                  </div>
              </div>
        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                    <!-- End Job Form End -->
                  </div>
                </div>
              </div>
              <!-- Edit Job Modal End -->
        
              <!-- Delete Job Modal -->
              <div class="modal fade" id="d<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="deleteTripModalLable" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete job <%= jobs[i].ordnbr %>? </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Click DELETE to delete this job, or click Close to dismiss.
                      <form class="deletetripform">
                        <div class="form-group">
                          <label hidden for="did"></label>
                          <input hidden type="text" class="form-control" id="did" placeholder="Order #" value="<%= jobs[i].ordnbr %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-danger">DELETE THIS JOB</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
              <!-- Delete Job Modal End -->
        
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="horizontal-line">
                <hr class="hr-line-line">
              </div>
              <div class="modal-body">
                <div class="row">
                <div class="card col-8 border-0" style="font-size:medium">
                  <h6 class="card-header border">Trip Details</h6>
                  <div class="card-body border">
                <table class="table table-borderless">
                    <tbody>
                    <tr class="d-flex">
                      <td class="col-3">Origin:</td>
                      <td class="col-6"><%= jobs[i].origin %></td>
                    </tr>
                    <tr class="d-flex">
                      <td class="col-3">Origin Desc.:</td>
                      <td class="col-6"><%= jobs[i].origin_desc %></td>
                    </tr>
                    <tr class="d-flex">
                      <td class="col-3">Destination:</td>
                      <td class="col-6"><%= jobs[i].destination %></td>
                    </tr>
                    <tr class="d-flex">
                      <td class="col-3">Destination Description:</td>
                      <td class="col-6"><%= jobs[i].destination_desc %></td>
                    </tr>
                    <tr class="d-flex">
                      <td class="col-3">Start Date:</td>
                      <td class="col-6"><%= moment(jobs[i].est_start_date).format('M/D/YY') %></td>
                    </tr>
                    <tr class="d-flex">
                      <td class="col-3">PM Assigned:</td>
                      <td class="col-6"><%= jobs[i].pm_assigned %></td>
                    </tr>
                    <tr class="d-flex">
                      <td class="col-3">Status:</td>
                      <td class="col-6"><%= jobs[i].status %></td>
                    </tr>
                    <tr class="d-flex">
                      <td class="col-3">Trip Notes:</td>
                      <td class="col-9" style="white-space: pre-wrap"><%= jobs[i].ord_notes %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="card col-12 border-0" style="padding-right:15px">
                <h6 class="job-note-headers card-header border">Customer Details</h6>
                <div class="card-body border">
              <table class="table table-borderless">
                  <tbody>
                  <tr class="d-flex">
                    <td class="col-4">Customer:</td>
                    <td class="col-6"><%= jobs[i].customer %></td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-4">Customer Contact:</td>
                    <td class="col-6"><%= jobs[i].customer_nm %></td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-4">Customer Phone:</td>
                    <td class="col-6"><%= jobs[i].customer_phone %></td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-4">Customer Email:</td>
                    <td class="col-6"><%= jobs[i].customer_email %></td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-4">Notes:</td>
                    <td class="col-6" style="white-space: pre-wrap"><%= jobs[i].customer_notes %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
            </div>
            <div class="row" style="line-height:5px"><br></div>
            <div class="row">
              <div class="card col-12 border-0" style="padding-right:15px">
            <h6 class="job-note-headers card-header border">Vendor Details</h6>
            <div class="card-body border">
          <table class="table table-borderless">
              <tbody>
              <tr class="d-flex">
                <td class="col-4">Vendor:</td>
                <td class="col-6"><%= jobs[i].vendor %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Vendor Contact:</td>
                <td class="col-6"><%= jobs[i].vendor_nm %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Vendor Phone:</td>
                <td class="col-6"><%= jobs[i].vendor_phone %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Vendor Email:</td>
                <td class="col-6"><%= jobs[i].vendor_email %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Notes:</td>
                <td class="col-6" style="white-space: pre-wrap"><%= jobs[i].vendor_notes %></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div>
          </div>
            </div>
                </div>
              </div>
          </div>
        </td>
        </tr>
            </tbody>
        <% } %>
          <% } %>
            </table>
          </div>
      </div>
  <!-- Completed Tab End -->
  <!-- Archived Tab Begin -->
  <div class="tab-pane fade" id="archived" role="tabpanel" aria-labelledby="archived-tab">
    <div class="table">
      <table class="table table-hover table-sm" data-toggle="table">
        <thead>
          <tr class="row m-0">
            <th data-field="order_id" data-sortable="true" scope="col" class="d-inline-block col-1">Job</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2 ">Customer</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">Origin</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">Destination</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">PM Assigned</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-1">Status</th>
            <th data-sortable="true" scope="col" class="d-inline-block col-2">Est. Start</th>
            <!-- <th scope="col" class="d-inline-block col-1">#</th> -->
          </tr>
        </thead>
        <% for (let i = 0; i < jobs.length; i++) { %>
          <% if (jobs[i].status  === "Archived") { %>
        <tbody>
          <tr class="accordion-toggle collapsed row m-0" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#<%= jobs[i].ordnbr %>">
            <td class="d-inline-block col-1"><%= jobs[i].ordnbr %></td>
            <td class="d-inline-block col-2"><%= jobs[i].customer %></td>
            <td class="d-inline-block col-2"><%= jobs[i].origin %></td>
            <td class="d-inline-block col-2"><%= jobs[i].destination %></td>
            <td class="d-inline-block col-2"><%= jobs[i].pm_assigned %></td>
            <td class="d-inline-block col-1"><%= jobs[i].status %></td>
            <td class="d-inline-block col-2"><%= moment(jobs[i].est_start_date).format('M/D/YY') %></td>
            <!-- <td class="expand-button" class="d-inline-block col-1"></td> -->
            </tr>
              
      <tr class="hide-table-padding">
      <td colspan="12">
      <div class="collapse in col-sm head-div" id="<%= jobs[i].ordnbr %>">
        <div class="card" id="tdcard">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title col align-self-center" id="cardtitle"><%= jobs[i].ordnbr %> - <%= jobs[i].customer %></h5>
            <button type="button" class="btn col-1" id="edittripbutton" data-toggle="modal" data-target="#e<%= jobs[i].ordnbr %>">Edit</button>
            <!-- <button type="button" class="btn col-1" data-toggle="modal" data-target="#d<%= jobs[i].ordnbr %>">Delete</button> -->
          </div>
    
          <!-- Edit Job Modal -->
          <div class="modal fade" id="e<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="editTripModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editTripModalLabel">Edit Trip Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Edit Job Form Begin -->
                  <form class="edittripform">
                    <h5>Job Information</h5>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label hidden for="eid"></label>
                                <input hidden type="text" class="form-control" id="eid" placeholder="Order #" value="<%= jobs[i].order_id %>">
                                <label for="eJobNumberInput">Order #</label>
                                <input type="text" class="form-control" id="eJobNumberInput" placeholder="Order #" value="<%= jobs[i].ordnbr %>" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="ejobStatus">Status</label>
                            <select class="form-control" id="ejobStatus" value="<%= jobs[i].status %>">
                              <option>Archived</option>
                              <option>Upcoming</option>
                              <option>Active</option>
                              <option>Completed</option>
                            </select>
                          </div>
                      </div>
                          <div class="col-4">
                              <div class="form-group">
                                  <label for="epmAssigned">PM Assigned</label>
                                  <input type="text" class="form-control" id="epmAssigned" placeholder="Origin" value="<%= jobs[i].pm_assigned %>">
                              </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="eoriginInput">Origin</label>
                            <input type="text" class="form-control" id="eoriginInput" placeholder="Origin" value="<%= jobs[i].origin %>">
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                          <label for="edestinationInput">Destination</label>
                          <input type="text" class="form-control" id="edestinationInput" placeholder="Destination" value="<%= jobs[i].destination %>">
                      </div>
                  </div>
                      <div class="col-4">
                          <div class="form-group">
                              <label for="eestStartDate">Estimated Start Date</label>
                              <input type="date" class="form-control" id="eestStartDate" placeholder="Destination" value="<%= jobs[i].est_start_date %>">
                          </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="eoriginDesc">Origin Desc.</label>
                        <input type="text" class="form-control" id="eoriginDesc" placeholder="Origin Desc." value="<%= jobs[i].origin_desc %>">
                    </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                      <label for="edestDesc">Destination Desc.</label>
                      <input type="text" class="form-control" id="edestDesc" placeholder="Destination Desc." value="<%= jobs[i].destination_desc %>">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label for="ejobNotes">Job Notes</label>
                      <textarea class="form-control" id="ejobNotes" rows="2" placeholder="Enter any general job notes here."><%= jobs[i].ord_notes %></textarea>
                  </div>
              </div>
        </div>
        <h5>Customer Information</h5>
          <div class="row">
              <div class="col-3">
                  <div class="form-group">
                      <label for="ecustomer">Customer</label>
                      <input type="text" class="form-control" id="ecustomer" placeholder="Enter Customer Company" value="<%= jobs[i].customer %>">
                  </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                    <label for="ecustomer_nm">Customer Contact</label>
                    <input type="text" class="form-control" id="ecustomer_nm" placeholder="Enter Customer Contact Name" value="<%= jobs[i].customer_nm %>">
                </div>
            </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="ecustomer_phone">Customer Phone</label>
                        <input type="text" class="form-control" id="ecustomer_phone" placeholder="Enter Customer Phone" value="<%= jobs[i].customer_phone %>">
                    </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                  <label for="ecustomer_email">Customer Email</label>
                  <input type="text" class="form-control" id="ecustomer_email" placeholder="Enter Customer Email" value="<%= jobs[i].customer_email %>">
              </div>
      </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label for="ecustomer_notes">Customer Notes</label>
                  <textarea class="form-control" id="ecustomer_notes" rows="2" placeholder="Enter any customer notes here."><%= jobs[i].customer_notes %></textarea>
              </div>
          </div>
    </div>
    <h5>Vendor Information</h5>
          <div class="row">
              <div class="col-3">
                  <div class="form-group">
                      <label for="evendor">Vendor</label>
                      <input type="text" class="form-control" id="evendor" placeholder="Enter Vendor Company" value="<%= jobs[i].vendor %>">
                  </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                    <label for="evendor_nm">Vendor Contact</label>
                    <input type="text" class="form-control" id="evendor_nm" placeholder="Enter Vendor Contact Name" value="<%= jobs[i].vendor_nm %>">
                </div>
            </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="evendor_phone">Vendor Phone</label>
                        <input type="text" class="form-control" id="evendor_phone" placeholder="Enter Vendor Phone" value="<%= jobs[i].vendor_phone %>">
                    </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                  <label for="evendor_email">Vendor Email</label>
                  <input type="text" class="form-control" id="evendor_email" placeholder="Enter Vendor Email" value="<%= jobs[i].vendor_email %>">
              </div>
      </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label for="evendor_notes">Vendor Notes</label>
                  <textarea class="form-control" id="evendor_notes" rows="2" placeholder="Enter any vendor notes here."><%= jobs[i].vendor_notes %></textarea>
              </div>
          </div>
    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
                <!-- End Job Form End -->
              </div>
            </div>
          </div>
          <!-- Edit Job Modal End -->
    
          <!-- Delete Job Modal -->
          <div class="modal fade" id="d<%= jobs[i].ordnbr %>" tabindex="-1" role="dialog" aria-labelledby="deleteTripModalLable" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete job <%= jobs[i].ordnbr %>? </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Click DELETE to delete this job, or click Close to dismiss.
                  <form class="deletetripform">
                    <div class="form-group">
                      <label hidden for="did"></label>
                      <input hidden type="text" class="form-control" id="did" placeholder="Order #" value="<%= jobs[i].ordnbr %>">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">DELETE THIS JOB</button>
                </div>
              </form>
              </div>
            </div>
          </div>
          <!-- Delete Job Modal End -->
    
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="horizontal-line">
            <hr class="hr-line-line">
          </div>
          <div class="modal-body">
            <div class="row">
            <div class="card col-8 border-0" style="font-size:medium">
              <h6 class="card-header border">Trip Details</h6>
              <div class="card-body border">
            <table class="table table-borderless">
                <tbody>
                <tr class="d-flex">
                  <td class="col-3">Origin:</td>
                  <td class="col-6"><%= jobs[i].origin %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Origin Desc.:</td>
                  <td class="col-6"><%= jobs[i].origin_desc %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Destination:</td>
                  <td class="col-6"><%= jobs[i].destination %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Destination Description:</td>
                  <td class="col-6"><%= jobs[i].destination_desc %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Start Date:</td>
                  <td class="col-6"><%= moment(jobs[i].est_start_date).format('M/D/YY') %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">PM Assigned:</td>
                  <td class="col-6"><%= jobs[i].pm_assigned %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Status:</td>
                  <td class="col-6"><%= jobs[i].status %></td>
                </tr>
                <tr class="d-flex">
                  <td class="col-3">Trip Notes:</td>
                  <td class="col-9" style="white-space: pre-wrap"><%= jobs[i].ord_notes %></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="card col-12 border-0" style="padding-right:15px">
            <h6 class="job-note-headers card-header border">Customer Details</h6>
            <div class="card-body border">
          <table class="table table-borderless">
              <tbody>
              <tr class="d-flex">
                <td class="col-4">Customer:</td>
                <td class="col-6"><%= jobs[i].customer %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Customer Contact:</td>
                <td class="col-6"><%= jobs[i].customer_nm %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Customer Phone:</td>
                <td class="col-6"><%= jobs[i].customer_phone %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Customer Email:</td>
                <td class="col-6"><%= jobs[i].customer_email %></td>
              </tr>
              <tr class="d-flex">
                <td class="col-4">Notes:</td>
                <td class="col-6" style="white-space: pre-wrap"><%= jobs[i].customer_notes %></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div>
        <div class="row" style="line-height:5px"><br></div>
        <div class="row">
          <div class="card col-12 border-0" style="padding-right:15px">
        <h6 class="job-note-headers card-header border">Vendor Details</h6>
        <div class="card-body border">
      <table class="table table-borderless">
          <tbody>
          <tr class="d-flex">
            <td class="col-4">Vendor:</td>
            <td class="col-6"><%= jobs[i].vendor %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Vendor Contact:</td>
            <td class="col-6"><%= jobs[i].vendor_nm %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Vendor Phone:</td>
            <td class="col-6"><%= jobs[i].vendor_phone %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Vendor Email:</td>
            <td class="col-6"><%= jobs[i].vendor_email %></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">Notes:</td>
            <td class="col-6" style="white-space: pre-wrap"><%= jobs[i].vendor_notes %></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
      </div>
        </div>
            </div>
          </div>
      </div>
    </td>
    </tr>
        </tbody>
    <% } %>
      <% } %>
        </table>
      </div>
  </div>
  <!-- Archived Tab End -->
</div>