<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
  </head>
<style>
  tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
    position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}

#tdcard {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tow-card {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #686a6e;
}

#cardtitle {
  margin-bottom: 0px;
}

.table-responsive {
  margin-top: 10px;
}

.card-body {
  padding: 10px;
}

.horizontal-line {
  padding-left: 10px;
  padding-right: 10px;
}

.hr-line-line {
  margin: 1px;
  border: 1px solid #F0F8FF;
}

.asset-row {
  font-size: 100%;
}

.job-details {
  padding-top: 10px;
  font-size: 100%;
}

.nav-tabs a {
  color: black;
}

.card-header {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
}

.company-container-div {
  padding-left: 50px;
  padding-right: 50px;
}



/* .table td {
   text-align: left;  
}

.table th {
   text-align: left;
   padding: 0px;  
} */

.table>tbody>tr>td {
  border-top: none;
}


table>thead>tr>th {
  border-top: none;
}

.table {
  margin: 0px;
}

.btn-sm {
  height:90%;
  width:90%;
  font-size: 90%;
  padding: 0px;
  vertical-align: middle;
}

.btn-secondary {
  font-size: 80%;
}

.dropdown-item {
  font-size: 100%;
}

.job-notes {
  white-space: pre-wrap;
}

td {
  font-size: 90%;
}

.form-group {
  font-size: 120%;
}

.job-note-headers {
  text-align: left;
  text-decoration: underline;
}

.right-tabs .nav {
    float: right;
}

.bold {
  font-weight: bold;
}

.form-control {
  color: black;
}

.dropdown-item {
  font-size: small;
}

</style>

<header class="page header">
    <%- include ('partials/headernotcanal') %>
 </header>

<main>
  <br>
  <div class="container-fluid company-container-div">
  <h3 style="text-align: center;">Active Job Logs</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-9"></div>
      <div class="col-3">
        <input class="form-control" type="search" id="search" placeholder="Search" aria-label="Search" style="text-align: left;">
      </div>

    </div>
    <br>
   </div>
   <div class="container-fluid">
    <% jobs.forEach(function(job) { %>
      <% if (job.status  === "Active") { %>
        <%- include('partials/logcardnotcanal', { job: job, locations : locations}); %>
        <% } %>
        <% }); %>
      <br>
    </div>  
    </main>
</div>
    <footer>
        <%- include ('partials/footer') %>
    </footer>
    <script src="/shared.js" charset="utf-8"></script>
    <script src="/company.js" charset="utf-8"></script>
    <script>
      $( function() {
    var data = <%- JSON.stringify(locations) %>;
    // console.log(data);
      var locationnames = data.map(function(i) {
        return i.location_name;
      });

      $(".autopopulatelocation").focus(function() {
        var clicked = $(this);
        clicked.autocomplete({
          source: locationnames,
          appendTo : $(this).parent(),
          select: function( event , ui ) {
            var results = data.filter(function(entry) {
              return entry.location_name === ui.item.label;  
            });
            var latitude = results[0].latitude;
            console.log(latitude);
            $(this).closest(".crunch").find('.assetlatitude').val(latitude);
            var longitude = results[0].longitude;
            console.log(longitude);
            $(this).closest(".crunch").find('.assetlongitude').val(longitude);
        }
        });
      });
      });

      $(".asset-tbody").filter(function() {
        return !$(this).html().trim();
    }).closest(".uvs").hide();
    </script>
</html>